$videoWidth: 100vw ;
$videoHeight: 100vh ;
@media (min-aspect-ratio: 16/9) {
    $videoHeight : 58.25vw;
  
}
@media (max-aspect-ratio: 16/9) {
    $videoWidth: 177.78vh;
    
}

.container {
    height: 30vh;
    width: 100vw;
     position: relative;
    overflow: hidden;
    .overlay {
        background-color: black;
        opacity: 0.1;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    .BannerFade {
        position: absolute;
        bottom: 0;
        height: 10rem;
        width: 100%;
        left: 0;
        background-image: linear-gradient(
            180deg,
            transparent,
            rgba(22, 22, 22, 0.692),
            #111
        );
        
    }
    .content {
        position: absolute;
        bottom: 20%;
        left: 4%;
        z-index: 2;
        display: flex;
        flex-direction: column;
        gap: 10px;
        h1{
            z-index: 2;
        }
        p {
            width: 500px;
        }
    } 
    .iframe{
        position: absolute;
        top: 50%;
        left: 50%;
        width: $videoWidth;
        height: $videoWidth;
        transform: translate(-50%, -50%);
        z-index: -1;
       
    }
    .buttons {
        display: flex;
        gap: 30px;
        button {
            display: inline-flex;
            align-items: center;
            color: black;
            background-color: #e4e4e4;
            padding: 15px;
            width: 160px;
            justify-content: center;
            border: none;
            font-size: 20px;
            border-radius: 5px;
            box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px, rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;;
        }
        .moreinfo {
            background-color: #ffffff46;
            color: #fff;
        }
        button:hover {
            background-color: #fff;
        }
        .moreinfo:hover {
            background-color: #ffffff1a;
        }
       
    }
    
    
   
}
@media screen and (min-width: 700px) {
    .container {
        height:40vh;
    }
}
@media screen and (min-width:  900px) {
    .container {
        height:80vh;
    }
}