$videoWidth: 100vw ;
$videoHeight: 100vh ;
@media (min-aspect-ratio: 16/9) {
    $videoHeight : 58.25vw;
  
}
@media (max-aspect-ratio: 16/9) {
    $videoWidth: 177.78vh;
    
}

.container {
    height: 30vh;
    width: 100vw;
     position: relative;
    overflow: hidden;
    .overlay {
        background-color: black;
        opacity: 0.1;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    .BannerFade {
        position: absolute;
        bottom: 0;
        height: 10rem;
        width: 100%;
        left: 0;
        background-image: linear-gradient(
            180deg,
            transparent,
            rgba(22, 22, 22, 0.692),
            #111
        );
        
    }
    .content {
        position: absolute;
        top: 50%;
        left: 2%;
        z-index: 2;
        h1{
            z-index: 2;
        }
        p {
            width: 400px;
        }
    } 
    .iframe{
        position: absolute;
        top: 50%;
        left: 50%;
        width: $videoWidth;
        height: $videoWidth;
        transform: translate(-50%, -50%);
        z-index: -1;
       
    }
    
    
}

@media screen and (min-width: 700px) {
    .container {
        height:40vh;
    }
}
@media screen and (min-width:  900px) {
    .container {
        height:70vh;
    }
}